---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "support",
        "syntax-highlighting"
;

$blue: #426bba;
$color-tag: #F3753A; // #4A9BFF;

.close-btn {
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    
    &:after {
      display: inline-block;
      content: "\00d7"; /* This will render the 'X' */
    }
    
    &:hover {
        color: #000;
    }
}

.container {
    max-width: 960px;
}

.page-popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    min-height: 100%;
    
    background: white;
}

header {
    position: relative;
    background: $blue;
    color: white;
    padding: 70px 60px;
    
    font-family: "museo-sans";
    
    .title-wrapper {
        color: white;
        
        h1 {
            font-size: 26px;
            font-weight: bold;
            
            a {
                text-decoration: none;
            }
        }
        
        p {
            max-width: 700px;
        }
    
        a {
            text-decoration: underline;
            color: inherit;
        }
        
        h2 { font-size: 25px; margin-bottom: 20px; }
        
        h3 {
            font-size: 20px;
        }
    }
    
    a.join-ml {
        background: white;
        font-weight: bold;
        font-size: 15px;
        border-radius: 0;
        color: #444;
        text-transform: uppercase;
        padding: 8px 10px;
        border: 3px solid #EEE;
        box-shadow: 0 0 6px rgba(0,0,0,.2);
        @include transition(.2s);
        margin-right: 10px;
        text-decoration: none;
        
        &:hover {
            box-shadow: 0 0 6px rgba(0,0,0,.5);
        }
        
        &:active {
            box-shadow: none;
        }
    }
    
    .ml-form {
        label {
            // display: block;
            margin-right: 10px;
            // display: non;
        }
        
        input[name=email] {
            width: 300px;
            display: inline-block;
            // border-radius: 2;
        }
        
        button {
        }
    }
}

.profile {
    padding: 20px;
    height: 300px;
    display: table;
    vertical-align: top;
    text-align: center;
    margin-top: 50px;

    font: 400 15px "museo-sans";
    text-align: left;
    
    .close-btn {
        position: absolute;
        right: 30px;
        top: 20px;
        color: #555;
        // font-weight: bold;
        font-size: 30px;
        width: 40px;
        height: 40px;
        line-height: 38px;
        border-radius: 40px;
        
        &:hover {
            background: #EEE;
        }
    }

    .picture img {
        width: 90%;
        height: 90%;
        // border-radius: 200px;
        margin-bottom: 20px;
        
        @include transition(.2s);
    }
    
    .profile-header {
        margin-bottom: 20px;
        
        .name {
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 12px;
            
            & > * {
                vertical-align: middle;
            }
            
            .circle {
                display: inline-block;
                // margin-left: -20px;
                width: 10px;
                height: 10px;
                background: #888;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                border-radius: 50px;
                cursor: pointer;
    
                background: #1D4;
            }
        }
        
        
        .quick-info {
            font-size: 20px;
        }
    }
    
    .row {
        margin-bottom: 20px;
    }
    
    .profile-item {
        margin-bottom: 20px;

        label {
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            color: #666;
        }
        
        &.links {
            a:hover {
                text-decoration: none;
            }
        }
        
        &.skills {
            ul li {
                background: #4A9BFF;
                // background: #EEE;
                // border-bottom: 2px solid #4A9BFF;
                color: white;
                // color: #222;
                padding: 4px 6px;
                // border: 1px solid #19d;
                margin: 0 4px 5px 0;
                font-size: 13px;
            }
        }
        
        &.about {
            line-height: 2;
        }
        
        &.experience,
        &.extracurriculars {
            margin-top: 30px;
            
            label {
                margin-bottom: 20px;
            }
            
            ul li {
                line-height: 1.5;
                margin-left: 0;
                margin-bottom: 15px;
                p {
                    margin-bottom: 5px;
                    
                    p:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            
            ul.tags {
                list-style: none;
                margin: 0;
                font-size: 12px;
                
                li {
                    background: #EEE;
                    padding: 3px 6px;
                    margin: 0 2px 2px 0;
                    border-bottom: 1px solid #4A9BFF;
                    display: inline-block;
                }
            }
        }
    }
    
    ul.inline-list {
        margin-left: 0;
        margin-bottom: -4px;
        
        li {
            display: inline-block;
            font-size: 15px;
        }
    }
}

section.members {
    padding: 40px 0;
    
    .section-headers {
        color: #666;
        
        h1, h2 {
            font-weight: bold;
        }
        h1 {
            font-size: 18px;
        }
        h2 {
            font-size: 15px;
        }
    }
    
    .container-fluid {
        max-width: 1080px;
    }
}

.member {
    padding: 20px;
    height: 400px;
    width: 350px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    cursor: pointer;

    font-size: 12px;
    font-family: "museo-sans";

    .info {
        font: 400 15px "museo-sans";
        text-align: left;

        .basics {
            text-align: center;
            font-size: 16px;
            color: #666;
            
            & > * {
                vertical-align: middle;
            }
            
            strong {
                font-weight: normal;
                color: #000;
            }
            
            .circle {
                display: inline-block;
                width: 7px;
                height: 7px;
                background: #888;
                -moz-border-radius: 50px;
                -webkit-border-radius: 50px;
                border-radius: 50px;
                cursor: pointer;

                background: #1D4;
            }
        }
        
        & > div {
            margin-bottom: 15px;
        }
        
        .skills {
            font-size: 12px;
            text-align: center;
            
            span {
                line-height: 1.5;
                display: inline-block;
                margin: 0 3px 3px 0;
                background: $color-tag;
                color: white;
                padding: 3px 5px;
            }
        }
        
        .bio {
            font-size: 13px;
            line-height: 1.5;
        }
    }
    
    .picture img {
        width: 150px;
        height: 150px;
        border-radius: 200px;
        margin-bottom: 20px;
        
        @include transition(.2s);

        &:not(:hover) {
            @include filter(grayscale, 100%);
        }
    }
}

footer {
    padding: 40px;
    background: $grey-color-light;
    font-family: "museo-sans", Arial;
}

