---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <header>
    <div class="title-wrapper">
      <h1><a href="{{ site.baseurl }}/">Makers at Yale</a></h1>
      <p class="text-right">
        <a class="btn join-ml" href="https://github.com/ygom/makersatyale#join-the-list" role="button">Put your face here</a> 
        <a class="btn join-ml" href="javascript:alert('To join the mailing list, just send a message to felipe.pires@yal(...) using your yale email address.')" role="button">Join our Mailing List</a>
      </p>
      <h2>Join people building cool stuff at Yale University.</h2>

      <p>
        This is a directory of yalies interested in <a href="">coding</a>, <a href="">designing</a>, and <a href="">soldering</a>. <br />Do you want to build cool stuff?
      </p>
      
    </div>
  </header>

  <section class="members">
    <div class="container-fluid">
      <!--
      <div class="section-headers">
        <h1>Programming</h1>
        <h2>Here are the students who build software projects.</h2>
      </div>
      -->
      <div class="row">
          {% for _member in site.data.members %} {% assign member = _member[1] %}
          <div class="member" onClick="openMember('{{ _member[0] }}')">
            <div class="picture">
              <img src="{{ member.picture }}" />
            </div>
            <div class="info">
              <div class="basics">
                {% if member.available %}
                  <div class="circle available" data-toggle="tooltip" data-placement="bottom" title="Available for projects."></div>
                {% endif %}
                <strong>{{ member.name }}</strong>, {{ member.college }} {{ member.year }}
              </div>
              <div class="bio">{{ member.smallBio }}</div>
              <div class="skills">
                {% for s in member.skills %}
                  <span>{{ s }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>

  </section>
  {% include footer.html %}
  
<div class="page-popover"></div>

<script type="text/template" id="tmpl-member">
<div class="container">
  <div class="profile">
    <div class="close-btn" onClick="<%= clickOut %>"></div>
    
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="picture">
          <img src="<%= member.picture %>" />
        </div>
      </div>
      
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="profile-header">
          <div class="name">
            <% if (member.available) { %>
              <div class="circle available" data-toggle="tooltip" data-placement="top" title="Available for projects."></div>
            <% } %>
            <span><%= member.name %></span>
          </div>
          <div class="quick-info"><%= member.major %> | <%= member.college %> <%= member.year %></div>
        </div>
        
        <div class="profile-item skills">
          <ul class="inline-list">
          <% _.each(member.skills, function(p) { %>
            <li><%= p %></li>
          <% }); %>
          </ul>
        </div>
        
        <div class="profile-item about">
          <p><%= member.bio %></p>
        </div>

        <div class="profile-item links">
          <ul class="inline-list">
          <% if (member.links) for (var n in member.links) { %>
            <li><a href="<%= member.links[n] %>"><%= n %></a></li>
          <% } %>
          </ul>
        </div>

        <div class="profile-item extracurriculars">
          <label>Extra Curriculars &amp; Hobbies</label>
          <ul>
          <% _.each(member.extracurriculars, function (e) { %>
            <li>
              <strong><%= e.title %></strong><% if (e.time) { %>, <%= e.time %> <% } %>
              <p><%= e.detail %></p>
              <% if (e.tags) { %>
              <ul class="tags">
                <% _.each(e.tags, function (t) { %>
                  <li>
                    <%= t %>
                  </li>
                <% }) %>
              </ul>
              <% } %>
            </li>
          <% }); %>
          </ul>
        </div>

        <div class="profile-item experience">
          <label>Projects & Experience</label>
          <ul>
          <% _.each(member.experience, function (e) { %>
            <li>
              <strong><%= e.title %></strong><% if (e.time) { %>, <%= e.time %> <% } %>
              <p><%= e.detail %></p>
              <% if (e.tags) { %>
              <ul class="tags">
                <% _.each(e.tags, function (t) { %>
                  <li>
                    <%= t %>
                  </li>
                <% }) %>
              </ul>
              <% } %>

            </li>
          <% }); %>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
</script>

<script>
</script>

<script>

var members = {{ site.data.members | jsonify }};
var tmplMember = _.template($("#tmpl-member").html());

var _pastScrolled;

function openMember(mid) {
  if (members[mid] !== "undefined") {
    var html = tmplMember({
      member: members[mid],
      clickOut: "closeMember('"+mid+"')",
    });
    _pastScrolled = $("body").scrollTop();
    // $('body').scrollTop(0);
    $('body').animate({ scrollTop: 0 }, 100);
    $(".page-popover").hide().html(html).fadeIn("slow", function () {
      // $('body').animate({ scrollTop: 0 }, 100);
      
      $(".members").hide();
      $('[data-toggle="tooltip"]').tooltip();
    });
  }
}

function closeMember(mid) {
  $(".members").show();
  $('.page-popover').fadeOut();
  $("body").scrollTop(_pastScrolled);
}
</script>

<script>
$('[data-toggle="tooltip"]').tooltip()
</script>

</body>
</html>