---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <header>
    <div class="title-wrapper">
      <h1><a href="{{ site.baseurl }}/">Makers at Yale</a></h1>
      <h2>Join people building cool stuff at Yale University.</h2>
      <p>
        This is a directory of yalies interested in coding, designing, and soldering.
        <!-- <br />Do you want to build cool stuff? <a href="https://github.com/ygom/makersatyale#join-the-list">Put your face here</a>. -->
      </p>
      <p>
        <a href="javascript:showMLInstructions()" class="btn join-ml">Join our Mailing List</a> to get updates about events and opportunities for making.
      </p>
    </div>
  </header>

  <section class="members" style="display: none">
      <!--
    <div class="container-fluid">
      <div class="row">
          {% for _member in site.data.members %} {% assign member = _member[1] %}
          <div class="member" onClick="openMember('{{ _member[0] }}')">
            <div class="picture">
              <img src="{{ member.picture }}" />
            </div>
            <div class="info">
              <div class="basics">
                {% if member.available %}
                  <div class="circle available" data-toggle="tooltip" data-placement="bottom" title="Available for projects."></div>
                {% endif %}
                <strong>{{ member.name }}</strong>, {{ member.college }} {{ member.year }}
              </div>
              <div class="bio">{{ member.smallBio }}</div>
              <div class="skills">
                {% for s in member.skills %}
                  <span>{{ s }}</span>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      -->
    </div>

  </section>
  {% include footer.html %}
  
<div class="page-popover" id="profile-popover"></div>

<div class="page-popover" id="ml-popover">
<div class="container">
  <div class="close-btn" onClick="closePopover()"></div>
    
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-12">
      <h1>Join the Mailing List</h1>
      <p>
        By joining our list you will receive emails about
        <ul>
          <li>upcoming <strong><abbr title="CS/EE/MecEng">maker events</abbr> on campus</strong></li>
          <li>groups on campus organizing to <strong>attend hackathons</strong></li>
          <li>curated emails with <strong>opportunities to work on software and hardware projects</strong></li>
          <li>dinners and events for the community</li>
        </ul>
      </p>
      <h2>How to Join</h2>
      <p>
        Go to our Groups page at <a href="https://groups.google.com/a/elilists.yale.edu/forum/#!forum/ycs">groups.google.com/a/elilists.yale.edu/forum/#!forum/ycs</a> and <strong>click "Apply to join group"</strong>. <em>You must be logged in with your Yale account to access the website.</em>
      </p>
      <p>
        If you have any trouble doing that, you can <strong>email felipe.pires</strong> (you know the rest), and he will help you out.
      </p>
    </div>
  </div>
</div>
</div>

<script type="text/template" id="tmpl-member">
<div class="container">
  <div class="profile">
    <div class="close-btn" onClick="<%= clickOut %>"></div>
    
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="picture">
          <img src="<%= member.picture %>" />
        </div>
      </div>
      
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="profile-header">
          <div class="name">
            <span><%= member.name %></span>
            <% if (member.available) { %>
              <span class="label available" data-toggle="tooltip" data-placement="right" title="for projects.">Available</span>
            <% } %>
          </div>
          <div class="quick-info"><%= member.major %> | <%= member.college %> <%= member.year %></div>
        </div>
        
        <div class="profile-item skills">
          <ul class="inline-list">
          <% _.each(member.skills, function(p) { %>
            <li><%= p %></li>
          <% }); %>
          </ul>
        </div>
        
        <div class="profile-item about">
          <p><%= member.bio %></p>
        </div>

        <div class="profile-item links">
          <ul class="inline-list">
          <% if (member.links) for (var n in member.links) { %>
            <li><a href="<%= member.links[n] %>"><%= n %></a></li>
          <% } %>
          </ul>
        </div>

        <% if (member.extracurriculars && member.extracurriculars.length) { %>
        <div class="profile-item extracurriculars">
          <label>Extra Curriculars &amp; Hobbies</label>
          <ul>
          <% _.each(member.extracurriculars, function (e) { %>
            <li>
              <strong><%= e.title %></strong><% if (e.time) { %>, <%= e.time %> <% } %>
              <p><%= e.detail %></p>
              <% if (e.tags) { %>
              <ul class="tags">
                <% _.each(e.tags, function (t) { %>
                  <li>
                    <%= t %>
                  </li>
                <% }) %>
              </ul>
              <% } %>
            </li>
          <% }); %>
          </ul>
        </div>
        <% } %>

        <% if (member.experience && member.experience.length) { %>
        <div class="profile-item experience">
          <label>Projects & Experience</label>
          <ul>
          <% _.each(member.experience, function (e) { %>
            <li>
              <strong><%= e.title %></strong><% if (e.time) { %>, <%= e.time %> <% } %>
              <p><%= e.detail %></p>
              <% if (e.tags) { %>
              <ul class="tags">
                <% _.each(e.tags, function (t) { %>
                  <li>
                    <%= t %>
                  </li>
                <% }) %>
              </ul>
              <% } %>

            </li>
          <% }); %>
          </ul>
        </div>
        <% } %>

      </div>
    </div>
  </div>
</div>
</script>

<script>
</script>

<script>

var members = {{ site.data.members | jsonify }};
var tmplMember = _.template($("#tmpl-member").html());

var _pastScrolled;

function openMember(mid) {
  if (members[mid] !== "undefined") {
    var html = tmplMember({
      member: members[mid],
      clickOut: "closePopover('"+mid+"')",
    });
    _pastScrolled = $("body").scrollTop();
    // $('body').scrollTop(0);
    $('body').animate({ scrollTop: 0 }, 100);
    $("#profile-popover").hide().html(html).fadeIn("slow", function () {
      // $('body').animate({ scrollTop: 0 }, 100);
      
      $(".members").hide();
      $('[data-toggle="tooltip"]').tooltip();
    });
  }
}

function showMLInstructions() {
  $("#ml-popover").fadeIn('slow');
}

function closePopover() {
  $(".members").show();
  $('.page-popover').fadeOut();
  $("body").scrollTop(_pastScrolled);
}

</script>

<script>
$('[data-toggle="tooltip"]').tooltip()
</script>

</body>
</html>
